<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.dao.KbFileMapper">
  <resultMap id="BaseResultMap" type="com.xh.entity.KbFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_code" jdbcType="CHAR" property="fileCode" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_info" jdbcType="VARCHAR" property="fileInfo" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="file_status" jdbcType="VARCHAR" property="fileStatus" />
    <result column="file_level" jdbcType="INTEGER" property="fileLevel" />
    <result column="project_code" jdbcType="CHAR" property="projectCode" />
    <result column="create_user_code" jdbcType="VARCHAR" property="createUserCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_code, file_name, file_info, file_type, file_status, file_level, project_code, 
    create_user_code, create_time
  </sql>
  
  <!-- 新增文件信息 -->
  <insert id="insertFile" parameterType="com.xh.entity.KbFile">
  	insert into kb_file(file_code, file_name, file_info, file_type, file_status, file_level, project_code,create_user_code, create_time) values(#{fileCode},#{fileName},#{fileInfo},#{fileType},#{fileStatus},#{fileLevel},#{projectCode},#{createUserCode},#{createTime})
  </insert>
  <!-- 根据员工编码查询当前项目下的所有文件 -->
  <!-- <select id="selectFileByUserCode" >
  	
  </select> -->
  <!--  -->
  
</mapper>