<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.dao.KbFileMapper">
  <resultMap id="BaseResultMap" type="com.xh.entity.KbFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_code" jdbcType="CHAR" property="fileCode" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_info" jdbcType="VARCHAR" property="fileInfo" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="file_status" jdbcType="VARCHAR" property="fileStatus" />
    <result column="file_level" jdbcType="INTEGER" property="fileLevel" />
    <result column="project_code" jdbcType="CHAR" property="projectCode" />
    <result column="create_user_code" jdbcType="VARCHAR" property="createUserCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_code, file_name, file_info, file_type, file_status, file_level, project_code, 
    create_user_code, DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time
  </sql>
  
  <!-- 新增文件信息 -->
  <insert id="insertFile" parameterType="com.xh.entity.KbFile">
  	insert into ${fileTabelName}(file_code, file_name, file_info, file_type, file_status, file_level, project_code,create_user_code, create_time) values(#{kf.fileCode},#{kf.fileName},#{kf.fileInfo},#{kf.fileType},#{kf.fileStatus},#{kf.fileLevel},#{kf.projectCode},#{kf.createUserCode},#{kf.createTime})
  </insert>
  <!-- 根据员工编码查询当前项目下的所有文件 -->
  <select id="selectFileByUserCode" resultType="map">
  	SELECT a.id ,a.file_code,a.file_name,a.file_info,a.file_type,a.create_time,b.file_permission FROM ${fileTableName} a INNER JOIN kb_file_user b ON a.file_code = b.file_code AND b.user_code = #{userCode} AND a.project_code = #{projectCode}
  </select>
  <!-- 根据员工编码查询当前项目下的所有文件行数 -->
  <select id="selectFileCount" resultType="_int">
    	SELECT count(1) FROM ${fileTableName} a INNER JOIN kb_file_user b ON a.file_code = b.file_code AND b.user_code = #{userCode} AND a.project_code = #{projectCode}
  </select>
  <!-- 根据文件标号查询特定文件信息 -->
  <select id="selectFileByFileCode" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from ${fileTableName} where file_code =#{fileCode}
  </select>
</mapper>