<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.KbProjectUserMapper">
  <resultMap id="BaseResultMap" type="com.xh.entity.KbProjectUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_code" jdbcType="CHAR" property="projectCode" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_permission" jdbcType="CHAR" property="projectPermission" />
    <result column="project_level" jdbcType="INTEGER" property="projectLevel" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_dept_code" jdbcType="CHAR" property="userDeptCode" />
    <result column="project_main_code" jdbcType="CHAR" property="projectMainCode" />
    <result column="project_main_name" jdbcType="VARCHAR" property="projectMainName" />
    <result column="create_user_code" jdbcType="VARCHAR" property="createUserCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_code, project_name, project_permission, project_level, user_code, user_name, 
    user_dept_code, project_main_code, project_main_name, create_user_code, DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time
  </sql>
	<!-- 新增项目信息关联表信息 -->
	<insert id="insertProjectUser" parameterType="list">
		insert into kb_project_user
		(project_code,project_name,project_permission,project_level,user_code,user_name,user_dept_code,create_user_code,create_time)
		<foreach collection="list" item="userPro" separator="union ">
			select
			'${userPro.projectCode}','${userPro.projectName}','${userPro.projectPermission}','${userPro.projectLevel}','${userPro.userCode}','${userPro.userName}','${userPro.userDeptCode}','${userPro.createUserCode}','${userPro.createTime}'
			from dual
		</foreach>
	</insert>
	<!-- 根据用户编码查询用户所关联的信息 -->
	<select id="selectProjectSimpleInfoByUserCode" parameterType="string" resultType="map">
		select project_code, project_name,
		project_level from kb_project_user where user_code =#{userCode}
	</select>
	<!-- 新增项目信息关联表信息 新版本 -->
	<insert id="batchInsertProjectUsers" parameterType="list">
		insert into kb_project_user(project_code, project_name, project_permission,project_level,user_code, user_name, user_dept_code,create_user_code, create_time) values
		<foreach collection="list" item="kpu" separator=",">
			(#{kpu.projectCode},#{kpu.projectName},#{kpu.projectPermission},#{kpu.projectLevel},#{kpu.userCode},#{kpu.userName},#{kpu.userDeptCode},#{kpu.createUserCode},#{kpu.createTime})
		</foreach>
	</insert>
</mapper>