<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.dao.KbProjectUserMapper">
  <resultMap id="BaseResultMap" type="com.xh.entity.KbProjectUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_code" jdbcType="CHAR" property="projectCode" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_permission" jdbcType="CHAR" property="projectPermission" />
    <result column="project_level" jdbcType="INTEGER" property="projectLevel" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_dept_code" jdbcType="CHAR" property="userDeptCode" />
    <result column="project_main_code" jdbcType="CHAR" property="projectMainCode" />
    <result column="project_main_name" jdbcType="VARCHAR" property="projectMainName" />
    <result column="project_is_collect" jdbcType="CHAR" property="projectIsCollect" />
    <result column="create_user_code" jdbcType="VARCHAR" property="createUserCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_code, project_name, project_permission, project_level, user_code, user_name, 
    user_dept_code, project_main_code, project_main_name, project_is_collect, create_user_code, 
    DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time
  </sql>
	<!-- 根据用户编码查询用户所关联的信息 -->
	<select id="selectProjectSimpleInfoByUserCodeAndMethod" resultType="map">
		<!-- SELECT DISTINCT project_main_code,project_main_name,0 as project_main_level FROM kb_project_user -->
		SELECT DISTINCT project_main_code,project_main_name,project_is_collect FROM kb_project_user
		<where>
			<choose>
				<!-- 收藏 -->
				<when test="method =='collect'">
					and project_is_collect ='Y' and user_code = #{userCode}
				</when>
				<!-- 我的项目 -->
				<when test="method =='self'">
					 and user_code = #{userCode} and create_user_code = #{userCode}
				</when>
				<!-- 参与项目 -->
				<when test="method =='participation'">
					and user_code = #{userCode}
				</when>
				<!-- 默认：我的项目 -->
				<otherwise>
					and user_code = #{userCode} and create_user_code = #{userCode} 
				</otherwise>
			</choose>			
		</where>
		order by create_time DESC
	</select>
	<!-- 新增项目信息关联表信息 新版本 -->
	<insert id="batchInsertProjectUsers" >
			insert into kb_project_user(project_code, project_name, project_permission,project_level,user_code, user_name, user_dept_code,project_main_code,project_main_name,project_is_collect,create_user_code, create_time) values
			<if test="projectCode!=null and projectCode!=''">
			<selectKey keyColumn="project_main_code,project_main_name,project_is_collect" keyProperty="projectMainInfo" order="BEFORE" resultType="map">
				select  project_main_code,project_main_name,project_is_collect from kb_project_user where user_code = #{userCode} and project_code = #{projectCode}
			</selectKey>
			<foreach collection="kpuList" item="kpu" separator=",">
				(#{kpu.projectCode},#{kpu.projectName},#{kpu.projectPermission},#{kpu.projectLevel},#{kpu.userCode},#{kpu.userName},#{kpu.userDeptCode},#{projectMainInfo.project_main_code},#{projectMainInfo.project_main_name},#{projectMainInfo.project_is_collect},#{kpu.createUserCode},#{kpu.createTime})
			</foreach>
		</if>
		<if test="projectCode==null or projectCode ==''">
		<foreach collection="kpuList" item="kpu" separator=",">
			(#{kpu.projectCode},#{kpu.projectName},#{kpu.projectPermission},#{kpu.projectLevel},#{kpu.userCode},#{kpu.userName},#{kpu.userDeptCode},#{kpu.projectCode},#{kpu.projectName},'N',#{kpu.createUserCode},#{kpu.createTime})
		</foreach>
		</if>
	</insert>
	<!-- 查询特定的项目权限 -->
	<select id="selectProjectPermissionByUserCode" resultType="string">
		select project_permission from kb_project_user where user_code = #{userCode} and project_code = #{projectCode}
	</select>
	<!-- 根据用户编码和主方法更新收藏   -->
	<update id="updateCollectByUserCodeAndMainCode">
		UPDATE kb_project_user SET project_is_collect=#{isCollect } WHERE user_code = #{userCode} AND project_main_code=#{projectMainCode }
	</update>
</mapper>