<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.dao.KbProjectUserMapper">
  <resultMap id="BaseResultMap" type="com.xh.entity.KbProjectUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_code" jdbcType="CHAR" property="projectCode" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_permission" jdbcType="CHAR" property="projectPermission" />
    <result column="project_level" jdbcType="INTEGER" property="projectLevel" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_dept_code" jdbcType="CHAR" property="userDeptCode" />
    <result column="project_main_code" jdbcType="CHAR" property="projectMainCode" />
    <result column="project_main_name" jdbcType="VARCHAR" property="projectMainName" />
    <result column="project_is_collect" jdbcType="CHAR" property="projectIsCollect" />
    <result column="create_user_code" jdbcType="VARCHAR" property="createUserCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_code, project_name, project_permission, project_level, user_code, user_name, 
    user_dept_code, project_main_code, project_main_name, project_is_collect, create_user_code, 
    DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time
  </sql>
	<!-- 根据用户编码查询用户所关联的信息 -->
	<select id="selectProjectSimpleInfoByUserCodeAndMethod" resultType="map">
		<!-- SELECT DISTINCT project_main_code,project_main_name,0 as project_main_level FROM kb_project_user -->
		SELECT DISTINCT a.`project_status`, project_main_code,project_main_name,project_is_collect FROM kb_project_0 a INNER JOIN kb_project_user b ON  a.`project_code` = b.`project_main_code` AND b.`user_code` = #{userCode}
		<where>
			<choose>
				<!-- 收藏 -->
				<when test="method =='collect'">
					and project_is_collect ='Y' and a.project_status not in('canceled','locked')
				</when>
				<!-- 我的项目 -->
				<when test="method =='self'">
				and a.project_status not in('canceled','locked')
				</when>
				<!-- 参与项目 -->
				<when test="method =='participation'">
					and user_code = #{userCode} and a.project_status not in('canceled','locked')
				</when>
				<!-- 默认：我的项目 -->
				<otherwise>
					and create_user_code = #{userCode} 
				</otherwise>
			</choose>	
		</where>
		order by a.create_time DESC
	</select>
	<!-- 新增项目信息关联表信息 新版本 -->
	
	<insert id="batchInsertProjectUsers" >
			insert into kb_project_user(project_code, project_name, project_permission,project_level,user_code, user_name, user_dept_code,project_main_code,project_main_name,project_is_collect,create_user_code, create_time) values
				<foreach collection="kpuList" item="kpu" separator=",">
					(#{kpu.projectCode},#{kpu.projectName},#{kpu.projectPermission},#{kpu.projectLevel},#{kpu.userCode},#{kpu.userName},#{kpu.userDeptCode},#{projectMainInfo.project_main_code},#{projectMainInfo.project_main_name},#{projectMainInfo.project_is_collect},#{kpu.createUserCode},#{kpu.createTime})
				</foreach>
	</insert>
	<!-- 查询特定的项目权限 -->
	<select id="selectProjectPermissionByUserCode" resultType="string">
		select project_permission from kb_project_user where user_code = #{userCode} and project_code = #{projectCode}
	</select>
	<!-- 根据用户编码和主方法更新收藏   -->
	<update id="updateCollectByUserCodeAndMainCode">
		UPDATE kb_project_user SET project_is_collect=#{isCollect } WHERE user_code = #{userCode} AND project_main_code=#{projectMainCode }
	</update>
	<!-- 获得主项目信息 -->
	<select id="selectProjectMainInfo" resultType="string">
		select project_main_code,project_main_name,project_is_collect from kb_project_user where project_code = #{projectCode} and  user_code = #{userCode}
	</select>
	<!-- 根据项目编码 获得参员工简易信息  -->
	<select id="selectUsersByProjectCode" parameterType="string" resultType="map">
		select user_code,user_name from kb_project_user where project_code = #{projectCode}
	</select>
	<!-- 获得主项目编码 -->
	<select id="selectProjectMainCodeByUserCodeAndProjectCode" resultType="string">
		select project_main_code from kb_project_user where user_code = #{userCode} and project_code = #{projectCode}
	</select>
</mapper>