<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.dao.KbProjectMapper" >
  <resultMap id="BaseResultMap" type="com.xh.entity.KbProject" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_code" property="projectCode" jdbcType="CHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_type" property="projectType" jdbcType="CHAR" />
    <result column="project_info" property="projectInfo" jdbcType="VARCHAR" />
    <result column="project_remark" property="projectRemark" jdbcType="VARCHAR" />
    <result column="project_parent_code" property="projectParentCode" jdbcType="CHAR" />
    <result column="project_level" property="projectLevel" jdbcType="INTEGER" />
    <result column="project_status" property="projectStatus" jdbcType="VARCHAR" />
    <result column="create_user_code" property="createUserCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_code" property="updateUserCode" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_code, project_name, project_type, project_info, project_remark, project_parent_code, 
    project_level, project_status, create_user_code, create_time, update_user_code, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from kb_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 添加项目信息 -->
	<insert id="insertProject" parameterType="com.xh.entity.KbProject">
		insert into ${formName} (project_code,project_name,project_type,project_info,project_remark,project_parent_code,project_status,create_user_code,create_time,update_user_code) 
		values(#{kb.projectCode},#{kb.projectName},#{kb.projectType},#{kb.projectInfo},#{kb.projectRemark},#{kb.projectParentCode},#{kb.projectStatus},#{kb.createUserCode},#{kb.createTime},#{kb.updateUserCode})
	</insert>
	<!-- 查询当前项目下的所有子项目 -->
  <select id="selectProject" resultMap="BaseResultMap" parameterType="string">
  	select <include refid="Base_Column_List" /> from ${formName}
  	<if test="projectParentCode!='-1' "> where project_parent_code=#{projectParentCode}</if> 
  </select>
  <!-- 查询特定的项目信息 -->
  <select id="selectProjectByProjectCode" resultMap="BaseResultMap">
  	select <include refid="BaseResultMap" /> from ${projectTableName} where project_code = #{projectCode}
  </select>
</mapper>