<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.dao.KbUserMapper" >
  <resultMap id="BaseResultMap" type="com.xh.entity.KbUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_dept_code" property="userDeptCode" jdbcType="CHAR" />
    <result column="professional_code" property="professionalCode" jdbcType="CHAR" />
    <result column="user_password" property="userPassword" jdbcType="CHAR" />
    <result column="user_salt" property="userSalt" jdbcType="CHAR" />
    <result column="user_status" property="userStatus" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_code, user_name, user_dept_code, professional_code, user_password, user_salt, 
    user_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from kb_user
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>